<div class="container">
  <div class="female-main-ui-wrapper">

    <!-- LOGO Container at top -->
    <div class="logo-bar">
      <span>LOGO</span>
    </div>

    <!-- Tab buttons -->
    <div class="tab-btn-wrapper row">
      <a href="#" class="tab-btn now">
        <span>Now</span>
      </a>
      <a href="#" class="tab-btn favorite">
        <span>Favorite</span>
      </a>
    </div>

    <!-- Main content -->
    <div class="main-content-wrapper trans-05s">

      <!-- Baozi list -->
      <div class="baozi-list-wrapper row">
        <div class="baozi-list">
          <ul>
            <% @users.each do |user| %>
              <%= render partial: 'partials/baozi_unit', locals: {name: user.id, user_id: user.id, avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg", actived: false} %>
            <% end %>
          </ul>
        </div>
        <a href="#" class="next-round-btn">
          <span>Next Round</span>
        </a>
      </div>

      <!-- infomation and option area -->
      <div class="info-and-options-wrapper">
        <div class="option-list row">
          <ul>
            <li><a class="option-btn bye" href="#">Bye</a></li>
            <li><a class="option-btn add" href="#">Add</a></li>
          </ul>
        </div>
        <div class="chat-content-wrapper">
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
        </div>
        <div class="chat-form-wrapper">
          <input type="text" class="input-medium" id="sender" value="<%= current_user.id %>">
          <input type="text" class="input-medium" id="receiver">
          <form action="#test">
            <textarea type="text" id="message" placeholder="What's in your mind...?"></textarea>
            <button type="submit" hidden onclick="client_send();">Submit</button>
          </form>
        </div>
      </div>

      <!-- send message button -->
      <div class="row">
        <button id="send" class="send-message">send message</button>
      </div>
    </div>
  </div>
</div>


<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(Baozi.tabSelectorInit());
    $(document).ready(Baozi.baoziSelectorInit());
    $(document).ready(Baozi.sendMessageBtnInit());
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script type="text/javascript">
    $('.baozi-unit').click(function(){
      $('.actived').removeClass('actived');
      $(this).addClass('actived');
      $('#receiver').val($('.actived > .user_id').html());
    });


    function appendMessage(message) {
      $('.chat-content-wrapper').append(message["msg_body"] + "</br>");
    }

    function newMessage(message) {
      appendMessage(message);
    }

    function bindEvents(){
      dispatcher.bind('new_message', newMessage);
      $('#send').on('click', sendMessage);
    }

    function sendMessage(event){
      event.preventDefault();
      message = $('#message').val();
      sender_id = $('#sender').val();
      receiver_id = $('#receiver').val();
      dispatcher.trigger('new_message', {sender_id: sender_id, msg_body: message, send_to: receiver_id});
      $('.chat-content-wrapper').append("you say : " + message + "</br>");
      $('#message').val('')  
    }

    function createGuestUser(){
      dispatcher.trigger('new_user', user);
    }

    //start on socekt
    var currentChannel = undefined
    var dispatcher = new WebSocketRails('localhost:3000/websocket');

    dispatcher.on_open = function(data) {
      console.log('Connection has been established: ', data);
      createGuestUser();

      // dispatcher.subscribe('pumpbox');
      
      bindEvents();
    };

  </script>
<% end %>



<!-- 
<script>
  var ws = new WebSocket("ws://localhost:8080");

ws.onmessage = function(e){
  print(e.data);
};

ws.onopen = function(e){
  log("websocket open");
  console.log(e);
};

ws.onclose = function(e){
  log("websocket close");
  console.log(e);
};

$(function(){
  $("#btn_post").click(post);
  $("#message").keydown(function(e){
    if(e.keyCode == 13) post();
  });
});

var post = function(){
  var name = $("#name").val();
  var mes = $("#message").val();
  ws.send(name+" : "+mes);
  $("input#message").val("");
};

var log = function(msg){
  console.log(msg);
  $("#chat").prepend($("<li>").text("[log] "+msg));
};

var print = function(msg){
  $("#chat").prepend($("<li>").text(msg));
};
</script>
 -->