<div class="container">
  <div class="female-main-ui-wrapper">

    <!-- LOGO Container at top -->
    <div class="logo-bar">
      <span>LOGO</span>
    </div>

    <!-- Tab buttons -->
    <div class="tab-btn-wrapper row">
      <a href="#" class="tab-btn now">
        <span>Now</span>
      </a>
      <a href="#" class="tab-btn favorite">
        <span>Favorite</span>
      </a>
    </div>

    <!-- Main content -->
    <div class="main-content-wrapper trans-05s">

      <!-- Baozi list -->
      <div class="baozi-list-wrapper row">
        <div class="baozi-list">
          <ul>
            <%= render partial: 'partials/baozi_unit', locals: {name: "Deja Hauck", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg", actived: true} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/vladarbatov/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/peterme/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/putorti/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg", actived: false} %>
          </ul>
        </div>
        <a href="#" class="next-round-btn">
          <span>Next Round</span>
        </a>
      </div>

      <!-- infomation and option area -->
      <div class="info-and-options-wrapper">
        <div class="option-list row">
          <ul>
            <li><a class="option-btn bye" href="#">Bye</a></li>
            <li><a class="option-btn add" href="#">Add</a></li>
          </ul>
        </div>
        <div class="chat-content-wrapper">
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
        </div>
        <div class="chat-form-wrapper">
          <form action="#test">
            <textarea type="text" placeholder="What's in your mind...?"></textarea>
            <button type="submit" hidden onclick="client_send();">Submit</button>
          </form>
        </div>
      </div>
      <div>
      <input id="name" size="15" type="text" value="NAME">
      <input id="message" size="80" type="text" value="hello hello">
      <input id="btn_post" type="button" value="post">
    </div>

      <!-- send message button -->
      <div class="row">
        <button class="send-message">send message</button>
      </div>
    </div>
  </div>
</div>

<h2>WebSocket GeeKhmer</h2>
<input type="text" id="txt">
<input type="button" onclick="client_send();" value="Send">
<p id="display"></p>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(Baozi.tabSelectorInit());
    $(document).ready(Baozi.baoziSelectorInit());
    $(document).ready(Baozi.sendMessageBtnInit());
  </script>
<% end %>

<script type="text/javascript">

  var dispatcher = new WebSocketRails('localhost:8080/websocket');

  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
  }

  dispatcher.on_error = function(data) {
    return console.log('on error');
  };

  dispatcher.on_close = function(data) {
    return console.log('on close');
  };

  dispatcher.bind('event_name', function(data) {
    return console.log(data.message);
  });

  function client_send() {
    var task = {
      name: 'Start taking advantage of WebSockets',
      completed: false
    }

    var dispatcher = new WebSocketRails('localhost:3000/websocket');
    dispatcher.trigger('message', task);

    dispatcher.on_close = function(data) {
      return console.log('on close');
    };
  }

</script>

<!-- 
<script>
  var ws = new WebSocket("ws://localhost:8080");

ws.onmessage = function(e){
  print(e.data);
};

ws.onopen = function(e){
  log("websocket open");
  console.log(e);
};

ws.onclose = function(e){
  log("websocket close");
  console.log(e);
};

$(function(){
  $("#btn_post").click(post);
  $("#message").keydown(function(e){
    if(e.keyCode == 13) post();
  });
});

var post = function(){
  var name = $("#name").val();
  var mes = $("#message").val();
  ws.send(name+" : "+mes);
  $("input#message").val("");
};

var log = function(msg){
  console.log(msg);
  $("#chat").prepend($("<li>").text("[log] "+msg));
};

var print = function(msg){
  $("#chat").prepend($("<li>").text(msg));
};
</script>
 -->