<div class="container">
  <div class="female-main-ui-wrapper">

    <!-- LOGO Container at top -->
    <div class="logo-bar">
      <span>LOGO</span>
    </div>

    <!-- Tab buttons -->
    <div class="tab-btn-wrapper row">
      <a href="#" class="tab-btn now">
        <span>Now</span>
      </a>
      <a href="#" class="tab-btn favorite">
        <span>Favorite</span>
      </a>
    </div>

    <!-- Main content -->
    <div class="main-content-wrapper trans-05s">

      <!-- Baozi list -->
      <div class="baozi-list-wrapper row">
        <div class="baozi-list">
          <ul>
            <%= render partial: 'partials/baozi_unit', locals: {name: "Deja Hauck", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg", actived: true} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/vladarbatov/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/peterme/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/putorti/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg", actived: false} %>
          </ul>
        </div>
        <a href="#" class="next-round-btn">
          <span>Next Round</span>
        </a>
      </div>

      <!-- infomation and option area -->
      <div class="info-and-options-wrapper">
        <div class="option-list row">
          <ul>
            <li><a class="option-btn bye" href="#">Bye</a></li>
            <li><a class="option-btn add" href="#">Add</a></li>
          </ul>
        </div>
        <div class="chat-content-wrapper">
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'baozi', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg', name: 'Deja Hauck'} %>
          <%= render partial: 'partials/message_layout', locals: {role: 'self', avatar: 'https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', name: 'pixeliris'} %>
        </div>
        <div class="chat-form-wrapper">
          <form action="#test">
            <textarea type="text" placeholder="What's in your mind...?"></textarea>
            <button type="submit" hidden onclick="client_send();">Submit</button>
          </form>
        </div>
      </div>

      <!-- send message button -->
      <div class="row">
        <button class="send-message">send message</button>
      </div>
    </div>
  </div>
</div>

<h2>WebSocket GeeKhmer</h2>

<div class="form-inline well">
  <fieldset>
    <input type="text" class="input-medium" id="user_name">
    <input type="text" class="input-xlarge" id="message">
    <button id="send" class="btn btn-primary">Send</button>
  </fieldset>
</div>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(Baozi.tabSelectorInit());
    $(document).ready(Baozi.baoziSelectorInit());
    $(document).ready(Baozi.sendMessageBtnInit());
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script type="text/javascript">
  
    function newMessage(message) {
      $('.chat-content-wrapper').append("server send");
    }

    function bindEvents(){
      dispatcher.bind('new_message', newMessage);
      $('#send').on('click', sendMessage);
    }

    function sendMessage(event){
      event.preventDefault();
      message = $('#message').val();
      dispatcher.trigger('new_message', {user_name: "Vincent", msg_body: message});
      $('#message').val('')  
    }


    //send message and reset the txt
    var dispatcher = new WebSocketRails('localhost:3000/websocket');

    dispatcher.on_open = function(data) {
      console.log('Connection has been established: ', data);
      bindEvents();
    };


    // var bindEvents = function(){
    //   dispatcher.bind('new_message', newMessage);
    // };

    // var sendMessage = function(){

    // }

    

    // function addCommentToDom(comment) {
    //   console.log('just received new comment: ' + comment.title);
    // }
    // dispatcher.bind('comments.new', addCommentToDom);

  </script>
<% end %>



<!-- 
<script>
  var ws = new WebSocket("ws://localhost:8080");

ws.onmessage = function(e){
  print(e.data);
};

ws.onopen = function(e){
  log("websocket open");
  console.log(e);
};

ws.onclose = function(e){
  log("websocket close");
  console.log(e);
};

$(function(){
  $("#btn_post").click(post);
  $("#message").keydown(function(e){
    if(e.keyCode == 13) post();
  });
});

var post = function(){
  var name = $("#name").val();
  var mes = $("#message").val();
  ws.send(name+" : "+mes);
  $("input#message").val("");
};

var log = function(msg){
  console.log(msg);
  $("#chat").prepend($("<li>").text("[log] "+msg));
};

var print = function(msg){
  $("#chat").prepend($("<li>").text(msg));
};
</script>
 -->