<div class="container">
  <div class="female-main-ui-wrapper">

    <!-- LOGO Container at top -->
    <div class="logo-bar">
      <span>LOGO</span>
    </div>

    <!-- Tab buttons -->
    <div class="tab-btn-wrapper row">
      <a href="#" class="tab-btn now">
        <span>Now</span>
      </a>
      <a href="#" class="tab-btn favorite">
        <span>Favorite</span>
      </a>
    </div>

    <!-- Main content -->
    <div class="main-content-wrapper">

      <!-- Baozi list -->
      <div class="baozi-list-wrapper row">
        <div class="baozi-list">
          <ul>
            <%= render partial: 'partials/baozi_unit', locals: {name: "Deja Hauck", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg", actived: true} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/vladarbatov/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/peterme/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/putorti/128.jpg", actived: false} %>
            <%= render partial: 'partials/baozi_unit', locals: {name: "#{Faker::Name.name}", avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg", actived: false} %>
          </ul>
        </div>
        <a href="#" class="next-round-btn">
          <span>Next Round</span>
        </a>
      </div>

      <!-- infomation and option area -->
      <div class="info-and-options-wrapper">
        <div class="option-list row">
          <ul>
            <li><a class="option-btn bye" href="#">Bye</a></li>
            <li><a class="option-btn add" href="#">Add</a></li>
          </ul>
        </div>
        <div class="chat-content-wrapper">
          <div class="message-wrapper target">
            <div class="user-info row">
              <div class="info">
                <span class="avatar">
                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="">
                </span>
                <span class="name">
                  Deja Hauck
                </span>
              </div>
            </div>
            <div class="message-content">
              <p><%= Faker::Lorem.sentence %></p>
              <p><%= Faker::Lorem.sentence %></p>
            </div>
          </div>

          <div class="message-wrapper self">
            <div class="user-info row">
              <div class="info">
                <span class="avatar">
                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="">
                </span>
                <span class="name">
                  pixeliris
                </span>
              </div>
            </div>
            <div class="message-content">
              <p><%= Faker::Lorem.sentence %></p>
              <p><%= Faker::Lorem.sentence %></p>
            </div>
          </div>
        </div>
        <div class="chat-form-wrapper">

        </div>
      </div>

      <!-- send message button -->
      <div class="row">
        <button class="send-message">send message</button>
      </div>
    </div>
  </div>
</div>
