<li>
  <div class="baozi-unit <%= "actived" if actived == true %>">
    <img src="<%= avatar %>" alt="">
    <span class="notification-badge"><%= rand(1..99) %></span>
    <span class='user_id' style="display:none"><%= user_id %></span>
    <span class="name"><%= name %></span>
    <span class="health-point"><i class="fa fa-heart true"></i><i class="fa fa-heart true"></i><i class="fa fa-heart-o false"></i></span>
  </div>
</li>
